<div class="content">
	<form [formGroup]="formGroup" class="content__form flex-column" autocomplete="off">
		<mat-form-field appearance="outline">
			<mat-label>Contraseña anterior</mat-label>
			<input matInput type="password" formControlName="oldPassword" />
		</mat-form-field>
		<p class="message"><mat-error *ngIf="oldPasswordField.hasError('required')"> Ingrese una contraseña </mat-error></p>
		<p class="message">
			<mat-error *ngIf="oldPasswordField.hasError('customPasswordValidator')">
				{{ mensajePassw }}
			</mat-error>
		</p>

		<mat-form-field appearance="outline">
			<mat-label>Nueva contraseña</mat-label>
			<input matInput type="password" formControlName="newPassword" />
		</mat-form-field>
		<p class="message"><mat-error *ngIf="oldPasswordField.hasError('required')"> Ingrese una contraseña </mat-error></p>
		<p class="message">
			<mat-error *ngIf="oldPasswordField.hasError('customPasswordValidator')">
				{{ mensajePassw }}
			</mat-error>
		</p>

		<button mat-raised-button color="primary" (click)="clickChangePassword()">GUARDAR</button>
	</form>
</div>
